/* VARIABLES  */
/* colors */
$color-accent: #761500;
$color-primary: #3e7acc;
$color-subtle: #5a5a5a;
$color-light: #eeeeee;

$color-subtle-rgba: rgba(0, 0, 0, 0.8);

/* sizes */
$medium: 2rem;
$large: 5rem;
